@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$default-font: 'Rubik', sans-serif;

$bg-body: #1b1d1f;
$bg-block: #0f1112;
$bg-field: #181a1e;
$white: #fdfdfd;
$gray: #4f5157;
$purple: #917cff;
$validation: rgb(255, 74, 74);

$radius: 0.7rem;
