@import './reset';
@import './variables';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font: 400 normal 1rem / 1.6 $default-font;
	color: $white;
	background-color: $bg-body;
	height: 100vh;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 50px;
	margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
